

<!-- ----------------------------------------------------------------------- -->
<!--                                  TABLE                                  -->
<!-- ----------------------------------------------------------------------- -->
        <div class="container border-1">
            <table class="table margin-b2">
                <thead>
                    <tr class="table-row">
                        <th>DEFAULT</th>
                        <th>DEFAULT</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in all_data %}
                    <tr class="table-row">
                        <td>{{  }}</td>
                        <td>{{  }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="/" class="button-anchor">DEFAULT</a>
        </div>

<!-- ----------------------------------------------------------------------- -->
<!--                             flash messages                              -->
<!-- ----------------------------------------------------------------------- -->
{% for message in get_flashed_messages() %}
<div class="container-mini error center-h flex center-j center-a">
    <span>{{ message }}</span>
</div>
{% endfor %}